# Week 2 Challenge

### Importing the required libraries

In [24]:
# Cell 1: Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import accuracy_score, mean_squared_error
from sqlalchemy import create_engine
import sqlite3

In [22]:
path = r"C:\Users\doff n\Desktop\doffneri\week2\src\data\telecom.sql"

### Function to read SQL file and execute queries

In [26]:
# Create a connection to SQLite (change 'database.db' to your actual database file)
connection = sqlite3.connect('database.db')

# Read the SQL file and execute the query
with open(path, 'r') as file:
    sql_query = file.read()

# Execute the SQL query
connection.executescript(sql_query)

# Query to load data into a DataFrame (change 'xdr_data' to your actual table name)
df = pd.read_sql_query('SELECT * FROM xdr_data', connection)

# Close the connection
connection.close()

# Display the DataFrame
print(df.head())

OperationalError: near "SET": syntax error

In [15]:
print(tables.columns)

Index(['name'], dtype='object')